@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@import "@cloudflare/kumo/styles/tailwind";
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--kumo-color-background);
  color: var(--kumo-color-text);
}

[data-mode="dark"] {
  color-scheme: dark;
}

[data-mode="light"] {
  color-scheme: light;
}
